# Backend Environment Variables
PROJECT_NAME="Syntra Enterprise AI Platform"
VERSION="0.1.0"
API_V1_STR="/api/v1"

# LLM Provider
# GEMINI_API_KEY=""
# GROQ_API_KEY=""

# Database
# SUPABASE_URL=""
# SUPABASE_KEY=""
# SUPABASE_DB_URL=""
